section{
    margin: auto;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
ul, ol{
    width: 80%;
    margin: 10px auto;
    text-align: left;
    font-size: 16px;
}

li{
    margin: 5px 0;
}
section{
    background-color: rgb(210, 230, 180);
    border-radius: 8px;
}

h1, h2{
    text-align: center;
}

.mobile-about{
    display: block;
}
.tablet-about, .desktop-about{
    display: none;
}
@media(min-width: 768px){
    .mobile-about {
        display: none;
    }
    .tablet-about {
        display: block;
    }

    .tablet-about section {
        background-color: transparent;
        padding: 0.8rem 0;
        margin-bottom: 1rem;
    }

    .tablet-about h2 {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

    .tablet-about p {
        font-size: 1rem;
        line-height: 1.6;
    }
    .tablet-about ul, .tablet-about ol {
        padding-left: 1.2rem;
        margin-bottom: 1rem;
    }

    .tablet-about li {
        padding: 0.4rem 0;
    }
}
@media (min-width: 1024px) {
    .tablet-about {
        display: none;
    }
    .desktop-about {
        display: block;
    }

    .desktop-about section {
        background-color: transparent;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .desktop-about h2 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    .desktop-about p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .desktop-about ul, .desktop-about ol {
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }

    .desktop-about li {
        padding: 0.5rem 0;
    }
}


